# PyCharm
.idea

__pycache__
.pytest_cache

# Coverage
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# PyPI
optiml.egg-info
dist

# LaTeX
*.out
*.aux
*.log
*.gz
*.toc
*.lof
*.lot
*.dvi
*.blg
*.bbl
*.loa
*.loe